h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}